S3_BUCKET=grape-artifacts
S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY_ID=change_me_access_key
S3_SECRET_ACCESS_KEY=change_me_secret_key
S3_REGION=us-east-1
S3_SECURE=False
INPUT_S3_KEY=input/grape1.jpg
DATABASE_URL=postgresql://grape_user:change_me_db_password@localhost:5432/grape_db
POSTGRES_PASSWORD=change_me_db_password


MODEL_PATH=model/weights/best.pt
REF_WEIGHT_GRAMS=300
MIN_CLUSTER_WEIGHT=50
SLICE_RATIO=0.1
PDF_DPI=150
PLOT_ELEV=45
PLOT_AZIM=-60
FIG_SIZE_3D=12,10
FIG_SIZE_2D=8,5


AIRFLOW_DB_USER=airflow_user
AIRFLOW_DB_PASSWORD=change_me_airflow_db_password
AIRFLOW_DB_NAME=airflow_db
AIRFLOW_UID=50000

AIRFLOW_ADMIN_USERNAME=airflow_admin
AIRFLOW_ADMIN_PASSWORD=change_me_airflow_admin_password
AIRFLOW_ADMIN_FIRSTNAME=Airflow
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=airflow_admin@example.com


AIRFLOW_FERNET_KEY=change_me_fernet_key
